body {
    background-color: rgb(24, 26, 26);
}

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

#nav {

    margin: 5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: rgb(34, 33, 33);
    padding: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px aqua;
}

header {
    position: sticky;
    top: 20px;
}

#scl {
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aqua;
}

.info {
    color: white;
    margin-top: 5%;
    margin-left: 15%;
}

#name {
    font-size: 70px;
}

#name_para {
    width: 90%;
    font-size: 30px;
    padding-left: 20px;
    text-shadow: 0px 0px 5px aqua;
}

.text {
    color: aqua;
}

.content {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 35%;
    height: 12rem;
    margin-right: 12%;
    padding-bottom: 20%;
    /* margin-top: 5%; */
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 20px aqua;
    border-radius: 25%;
    color: wheat;
    background-image: url(https://media.licdn.com/dms/image/v2/D4D03AQF1vojvjaCMhA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1697522789899?e=2147483647&v=beta&t=faHLiQh9bL_tnH3MEghcwHqztqCbXJn5KHTSHxtAASY);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    padding: 10px;
    border: 2px;
    color: white;
    text-decoration: none;
}

.navbar:hover {
    transform: scale(1.3);
    text-shadow: 0px 0px 5px aqua;
}

#intro {
    width: 450px;
    font-size: 16px;
    font-family: cursive;
    margin-left: 5%;
    margin-top: 5%;
}

#btn1 {
    padding: 15px 20px;
    font-weight: 600;
    font-size: 18px;
    font-family: cursive;
    color: rgb(255, 255, 255);
    border: 2px solid aqua;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 10px;
    background-color: transparent;
}
#btn1:hover{
    box-shadow: 0px 0px 10px aqua;

}

.info i {
    margin-left: 22%;
    margin-top: 5%;
    color: aqua;
    font-size: 40px;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    margin: 10% 10%;
}

.about-img img {
    width: 80%;
    height: 400px;
    padding-bottom: 20%;
    margin-top: 5%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 5px 50px aqua;
    border-radius: 25%;
    margin-left: 10%;
    color: rgb(255, 255, 255);
    background-image: url(https://media.licdn.com/dms/image/v2/D4D03AQF1vojvjaCMhA/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1697522789899?e=2147483647&v=beta&t=faHLiQh9bL_tnH3MEghcwHqztqCbXJn5KHTSHxtAASY);
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text h2 {
    font-size: 4rem;
    margin: 5px;
}

.about-text h4 {
    font-size: 25px;
    margin: 5px;

}

.about-text p {
    width: 550px;
    font-size: 16px;
    font-family: cursive;
    margin-top: 5%;
}

.about-text span {
    color: aqua
}

#btn2 {
    padding: 15px 20px;
    font-weight: 600;
    font-size: 18px;
    font-family: cursive;
    color: rgb(255, 255, 255);
    border: 2px solid aqua;
    margin-left: 10%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: transparent;
}
#btn2:hover{
    box-shadow: 0px 0px 10px aqua;
}

.sub-tittle {
    display: flex;
    align-items: center;
    margin-left: 40%;
    font-size: 4rem;
}

.sub-tittle span {
    color: aqua;
}

.service-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4%;
}

.service-list div {
    background-color: rgb(26, 26, 26);
    width: 20%;
    height: 20rem;
    padding: 2rem;
    border: 2px solid white;
    /* box-shadow: 2px 2px 30px aqua; */
    border-radius: 20px;
}

.service-list i {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.service-list h2 {
    margin: 10px 0px;
}

.service-list p {
    font-family: cursive;
}

#btn3 {
    padding: 8px 25px;
    font-weight: 600;
    font-size: 1rem;
    font-family: cursive;
    color: rgb(255, 255, 255);
    border: 2px solid aqua;
    margin-left: 30%;
    margin-top: 10%;
    border-radius: 10px;
    background-color: transparent;
}
#btn3:hover{
    box-shadow: 0px 0px 5px rgb(251, 255, 255);
    background-color: rgb(10, 103, 103);

}

#section {
    display: flex;
    justify-content: space-evenly;
}

.container1 {
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
/* Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {

    /* NAVBAR */
    #nav {
        flex-direction: column;
        gap: 15px;
        font-size: 16px;
        padding: 15px;
        margin: 20px;
    }

    #scl {
        width: 60%;
        justify-content: space-between;
    }

    .navbar:hover {
        transform: scale(1.1);
    }

    /* HERO SECTION */
    .content {
        flex-direction: column;
        text-align: center;
        margin-top: 40px;
    }

    .info {
        margin-left: 0;
    }

    #name {
        font-size: 40px;
    }

    #name_para {
        font-size: 20px;
        padding-left: 0;
    }

    #intro {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #btn1 {
        margin-left: 0;
    }

    .info i {
        margin-left: 0;
    }

    .photo {
        width: 250px;
        height: 250px;
        padding-bottom: 0;
        margin: 25px auto;
    }

    /* ABOUT SECTION */
    .about {
        grid-template-columns: 1fr;
        margin: 5% 5%;
        text-align: center;
    }

    .about-img img {
        width: 80%;
        height: 250px;
        margin-left: 0;
        padding-bottom: 0;
    }

    .about-text p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #btn2 {
        margin-left: 0;
    }

    /* SERVICES */
    .sub-tittle {
        margin-left: 0;
        text-align: center;
        font-size: 2.5rem;
    }

    .service-list {
        flex-direction: column;
        gap: 20px;
    }

    .service-list div {
        width: 80%;
        height: auto;
    }

    #btn3 {
        margin-left: 0;
    }

    /* SKILLS SECTION */
    #section {
        flex-direction: column;
        align-items: center;
    }

    .container1 {
        width: 90%;
        margin-left: 0;
        padding: 20px;
        height: auto;
    }

    .circle-box {
        margin: 20px 0;
    }

    /* CONTACT US */
    #contect-main {
        flex-direction: column;
        gap: 20px;
    }

    #cnt-img img {
        width: 250px;
        height: 250px;
    }

    #cnt-form {
        width: 100%;
        text-align: center;
    }

    input,
    #message textarea,
    #submit-btn {
        width: 90%;
    }
}


.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}

.bar {
    font-size: 23px;
}

.Technical-bars .bar {
    margin-top: 23px;
}

.Technical-bars .bar:first-child {
    margin-top: 40px 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info1 {
    margin-bottom: 5px;
}

.Technical-bars .bar .info1 span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    width: 90%;
    /* opacity:0; */
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: rgb(50, 49, 49);

}

.Technical-bars .bar .html span {
    display: inline-block;
    width: 90%;
    height: 5px;
    animation: html-line 3s ease-in 2s forwards;
    margin: 0px;
    position: absolute;
    background-color: aqua;
}

.Technical-bars .bar .css span {
    display: inline-block;
    width: 60%;
    height: 5px;
    animation: css-line 3s ease-in 2s forwards;
    margin: 0px;
    position: absolute;
    background-color: aqua;
}

.Technical-bars .bar .JavaScript span {
    display: inline-block;
    width: 80%;
    height: 5px;
    animation: JavaScript-line 3s ease-in 2s forwards;
    margin: 0px;
    position: absolute;
    background-color: aqua;
}

.Technical-bars .bar .Python span {
    display: inline-block;
    width: 65%;
    height: 5px;
    animation: python-line 3s ease-in 2s forwards;
    margin: 0px;
    position: absolute;
    background-color: aqua;
}

.Technical-bars .bar .React span {
    display: inline-block;
    width: 77%;
    height: 5px;
    animation: react-line 3s 2s ease-in forwards;
    margin: 0px;
    position: absolute;
    background-color: aqua;

}

@keyframes html-line {
    0% {
        width: 0%;
    }

    100% {

        width: 95%;
    }
}

@keyframes css-line {
    0% {
        width: 0%;
    }

    100% {

        width: 80%;
    }
}

@keyframes JavaScript-line {
    0% {
        width: 0%;
    }

    100% {

        width: 70%;
    }
}

@keyframes python-line {
    0% {
        width: 0%;
    }

    100% {

        width: 75%;
    }
}

@keyframes react-line {
    0% {
        width: 0%;
    }

    100% {

        width: 85%;
    }
}

.circle-box {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% 12%;
}

.radlal-bar {
    position: relative;
    height: 150px;
    width: 150px;
    text-align: center;
    z-index: 0;
}

.skill-circle {
    transform: rotate(270deg);
    z-index: -10;
}

.progress {
    stroke-dasharray: 314.16;
    stroke-dashoffset: 314.16;
    transition: stroke-dashoffset 2s 2s ease-in;
    z-index: -10;
}


.percentage {
    position: absolute;
    top: 30%;
    bottom: 35%;
    font-size: 18px;
    font-weight: bold;
    right: 35%;
    /* transform: translate(-50%, -60%); */
}

.text1 {
    margin: 7%;
    margin-right: 20%;
    font-size: 15px;
    font-weight: bold;
}

#contectUs {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom:30px;
}

#contectUs span {
    color: aqua;
}

#g-touch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 2rem;
}

#cnt-img img {
    height: 400px;
    width: 400px;
    color: black
    
}

#contect-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

#cnt-form {
    height: 400px;
    width: 400px;
    align-items: center;

}

input {
    color: white;
    height: 3rem;
    background-color: black;
    border: 2px solid black;
    padding-left: 10px;
    margin-top: 20px;

    width: 300px;
    border: 2px solid aqua;
        border-radius: 5px;


}

#message textarea {
    height: 3rem;
    width: 290px;
    background-color: black;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid aqua;
    border-radius: 5px;

}

#submit-btn {
    height: 3rem;
    border: 2px solid aqua;
    width: 300px;
    margin-top: 20px;
    background-color: black;
    font-weight: BOLD;
    color: aqua;
    margin-left: 8px;
    border-radius: 5px;
}
#submit-btn:hover{
    background-color: rgb(26, 29, 29);
        box-shadow: 1px 1px 10px aqua;

}
.Education-section{
    padding: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
     display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap : 20px;
}
.Education-title{
   font-family: helvetica;
   padding : 0px 0px 20px 30px ;
}
.Education-title h2{
    color : aqua;
}
.col .Education-container{
    padding : 0px 30px;
    border-left : 2px solid aqua;
}
.col .Education-container .Education-box{
    position : relative;
    padding : 20px;
    border : 1px solid #001d2d;
    background-color: #000000;
    cursor : pointer;
    transition : all 0.4s;
    margin-bottom: 20px;
}
.col .Education-container .Education-box:hover{
box-shadow : 0px 3px 12px 0px aqua;
border : 1px solid transparent;
}
.service-list div:hover{
box-shadow : 0px 3px 12px 0px aqua;
border : 1px solid transparent;
}
.col .Education-container .Education-box:before{
    content: '';
    position : absolute;
    width : 16px;
    height: 16px;
    border-radius : 50%;
    right : calc(100% + 22px);
    Top : 0;
    background-color: aqua;
    border : 2px solid white;
}
.Education-box h4{
    position : relative;
    color : rgb(255, 255, 255);
}
.Education-box h3{
    font-size: 19px;
    padding : 10px 0px 6px;
    font-family: Helvetica;
    color : aqua;
}
.Education-box p{
    line-height: 1.2rem;
    color : white;
    font-size: 17px;
}
@media (max-width : 480px) {
    .row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top:30px;
    }
}

